.title {
    padding: 0 0 30px;
}
.tableContainer {
    height: 5vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tableContent {
    width: auto; /*70%;*/
    padding: 0 70px;
}

.labelContent {
    padding: 0 10px 0 0;
}

.bodyContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 0 30px;
}

.rowContent {
    padding: 0 0 20px;
    justify-content: center;
}

.colContent {
    max-width: 100%;
}

.home__section {
    display: flex;
    padding: 30px;
}

@media only screen and (max-width: 812px) {
    .home__section {
        padding: 0;
        flex-direction: column;
    }
 
    
}